/* css -> cascading style sheet */

/* three ways
    external css => always prefer this | maintainbility, code readable
    internal css => when task is small
    inline css => override properties

    priority -> inline css > internal css > external css

    priority (class, id, tag) -> id > class > tag 

syntax css
    slector { property: value} 

combinators -> A CSS selector can contain more than one simple selector. Between the simple selectors, we can include a combinator.
    four ways
        1. desendant selectors (div h1{})
        2. child selectors
        3. Adjacent selectors
        4. Global sibling selectors
    
*/

/* Adjacent */
div + p {
  /*  first p inside div*/
  font-weight: bold;
  color: aqua;
  font-size: 2rem;
}
/* desendant */
div h1 {
  /* propety apply */
}
/* child */
div > h1 {
  /*  all h1 inside div */
}
/* Global */
div ~ h1 {
  /* all h1 that are next sibling of div */
}

div {
  font-size: xx-large;
}

#h1-heading {
  font-weight: bold;
  color: yellow;
}

h1 {
  color: aqua;
}

.h3-class {
  color: blue;
}

.table-container {
  border: 1px solid brown;
}

.table-heading {
  background-color: aqua;
  border: 1px solid rgb(205, 15, 15);
}

.container-class {
  border: 1px solid gray;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 10px 6px 11px 7px;
  padding: 10px 6px;
}

.ordered-list {
  position: relative;
  left: 110px;
  /* top: 10px; */
}

.unordered-list {
  position: absolute;
  top: 0px;
  left: 411px;
}

.para {
  font-size: 5rem;
  color: aqua;
}

@media screen and (max-width: 768px) and (min-width: 400px) {
  .para {
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .para {
    font-size: 50px;
    color: blueviolet;
  }
}

/* flex | grid | rem | px | % */

/* 
Box Model -> Margin, Padding, Design Layout

Position -> five types ->

1. Static (default)
2. Relative - Decide positioning from the default position
3. Absolute - Decide positioning from their ancestor
4. Fixed - Fix the position
5. Sticky - 

top, bottom, left, right

Responsiveness - Media Query  
*/
