body{
    background-color: rgb(249, 249, 249);
    display: flex;
  align-items: center;
  justify-content: center;
}
.container{
    background-color: #000000;
  position: relative;
  padding: 25px;
  border-radius: 28px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(168, 25, 25, 0.1);
}
header,
.logo {
    background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 48px;
  margin-right: 10px;
}
h5 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
header .chip {
  width: 60px;
}
h6 {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}
h5.number {
  margin-top: 4px;
  font-size: 18px;
  letter-spacing: 1px;
}
h5.name {
  margin-top: 20px;
}
.container .card-details {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


/* img{
    margin-left: 85%;
   margin-bottom: 28%;
   margin-top: -71px;
   display: flex;
}
h3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: initial;
    position: fixed;
    margin-block: -133px;
} */

